extends layout

block content
  h1 #{title}: #{item.title}

  p #[strong Manufacturer: ]
    a(href=item.manufacturer.url) #{item.manufacturer.name}
  p #[strong Description: ] #{item.desc}
  p #[strong Price: ] #{item.price}
  p #[strong Stock: ] #{item.stock}
  p #[strong Category: ]
    a(href=item.category.url) #{item.category.name}
  
  hr
  p
    a(href=item.url+'/delete') Delete Item 
  p 
    a(href=item.url+'/update') Update Item