extends layout

block content
  h1 #{title}: #{item.title}

  p #[strong Manufacturer: ]
    a(href=item.manufacturer.url) #{item.manufacturer.name}
  p #[strong Description: ] #{item.desc}
  p #[strong Price: ] #{item.price}
  p #[strong Stock: ] #{item.stock}
  p #[strong Category: ]
    a(href=item.category.url) #{item.category.name}

  p Do you really want to delete this Item?

  form(method='POST' action='')
      div.form-group
      input#itemid.form-control(type='hidden',name='itemid', required='true', value=item._id )

      button.btn.btn-primary(type='submit') Delete