extends layout

block content
  h1 #{title}: #{manufacturer.name}

  if manufacturer_items.length

    p #[strong Delete the following items before attempting to delete this Manufacturer.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Items

      dl
      each item in manufacturer_items
        dt
          a(href=item.url) #{item.manufacturer.name} #{item.name}

  else
    p Do you really want to delete this manufacturer?

    form(method='POST' action='')
      div.form-group
        input#manufacturerid.form-control(type='hidden',name='manufacturerid', required='true', value=manufacturer._id )

      button.btn.btn-primary(type='submit') Delete