extends layout

block content

  h1 Manufacturer: #{manufacturer.name}

  div(style='margin-left:20px;margin-top:20px')

    h4 Items

    dl
      each item in manufacturer_items
        dt
          a(href=item.url) #{item.name}
        dd #{item.desc}

      else
        p This manufacturer has no items.
    
    h4 Description
      h6 #{manufacturer.description}
  hr
  p 
    a(href=manufacturer.url+'/delete') Delete Manufacturer 
  p 
    a(href=manufacturer.url+'/update') Update Manufacturer